@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px dotted #00000055;
}

:root {
  --clr-neutral-900: hsl(280, 9%, 15%);
  --clr-neutral-800: hsl(280, 9%, 20%);
  --clr-neutral-200: hsl(0, 0%, 88%);
  --clr-neutral-100: hsl(156, 100%, 99%);
  --clr-blue: hsl(210, 77%, 57%);
  --clr-green: hsl(78, 69%, 50%);
  --clr-orange: hsl(19, 95%, 64%);
  --font-primary: "Fira Sans", sans-serif;
  --box-shadow: 6px 4px 8px var(--clr-neutral-700);

  /* set defaults */
  font-family: var(--font-primary);
  background: var(--clr-neutral-200);
  color: var(--clr-neutral-900);
}

/* body layout */

body {
  display: grid;
  grid-template-areas:
    "nav header-top"
    "nav header-bottom"
    "nav main";

  height: 100vw;
}

nav {
  grid-area: nav;

  background: var(--clr-blue);
  color: var(--clr-neutral-100);
}

header {
  background: var(--clr-neutral-100);
}

.header-top {
  grid-area: header-top;
}

.header-bottom {
  grid-area: header-bottom;
}

main {
  grid-area: main;
}

/* navigation */

.nav-grid {
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  align-items: center;
}

/* consistent line spacing */
nav,
header,
main {
  padding: 1.5rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1em;
}

p {
  line-height: 1.7em;
}
