@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 1px dotted #00000044;
}

:root {
  --clr-neutral-900: hsl(280, 9%, 15%);
  --clr-neutral-800: hsl(280, 9%, 20%);
  --clr-neutral-200: hsl(0, 0%, 88%);
  --clr-neutral-100: hsl(156, 100%, 99%);
  --clr-shadow: hsla(280, 9%, 20%, 20%);
  --clr-blue: hsl(210, 77%, 57%);
  --clr-green: hsl(78, 69%, 50%);
  --clr-orange: hsl(19, 95%, 64%);
  --font-primary: "Open Sans", sans-serif;
  --box-shadow: 0px 0px 8px var(--clr-shadow);

  /* set defaults */
  font-family: var(--font-primary);
  background: var(--clr-neutral-200);
  color: var(--clr-neutral-900);
}

// consistent line spacing

nav,
header,
main {
  padding: 1.5rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2em;
}

p {
  line-height: 1.5em;
}

button {
  border: 0;
}

input {
  border: 0;
}

//
// body layout
//

body {
  display: grid;
  grid-template-columns: minmax(max-content, 20rem) minmax(745px, 1fr);
  grid-template-rows: 12rem 1fr;
  grid-template-areas:
    "nav header"
    "nav main";

  height: 100vh;
}

//
// header
//

header {
  grid-area: header;

  display: grid;
  grid-template-areas:
    "header-top"
    "header-bottom";
  align-items: center;
  gap: 1rem;

  background: var(--clr-neutral-100);
  box-shadow: var(--box-shadow);

  // search bar / icon / name
  .header-top {
    grid-area: header-top;

    display: grid;
    grid-template-columns: min-content 1fr min-content max-content;
    gap: 1rem;
    align-items: center;

    svg {
      height: 2rem;
    }

    button {
      background: none;
    }

    .notification-svg {
      margin-left: auto;
    }

    input[type="text"] {
      width: max(16rem, 70%);
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 1rem;
      margin: 1rem;

      background: var(--clr-neutral-200);
    }

    h2 {
      text-align: right;
    }
  }

  // introduction: Hi there & 3 icons

  .header-bottom {
    grid-area: header-bottom;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

    .button-container {
      justify-self: end;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      button {
        padding: 0.75rem 1.5rem;
        background: var(--clr-orange);
        color: var(--clr-neutral-100);
        border-radius: 1rem;
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
}

//
// navigation
//

nav {
  grid-area: nav;

  background: var(--clr-blue);
  color: var(--clr-neutral-100);

  .nav-grid {
    display: grid;
    grid-template-columns: 2.25em 1fr;
    grid-template-rows: 6em 1fr;
    gap: 1rem;
    align-items: center;
  }

  p {
    font-size: 1.25rem;
    font-weight: 700;
  }

  svg {
    height: 1.75rem;
  }

  .dashboard-svg {
    justify-self: center;
    height: 3.5rem;
  }
}

//
// main
//

main {
  grid-area: main;

  display: grid;
  grid-template-columns: 3fr minmax(32ch, 1fr);
  // grid-auto-rows: minmax(min-content, max-content);
  grid-auto-rows: auto;

  gap: 2rem;
  padding: 2rem;

  h2 {
    margin-block: 1rem;
  }

  h3,
  h4 {
    margin-bottom: 0.25rem;
  }

  .project-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(36ch, 1fr));
    gap: 2rem;
  }

  .project-section {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .project {
    display: flex;
    flex-direction: column;

    &:hover,
    &:focus {
      transform: scale(1.05);
      transition: transform 0.15s ease-in-out;
    }

    .project-icon-container {
      margin-top: auto;
      padding-top: 1rem;

      display: flex;
      gap: 1rem;
      justify-content: end;

      svg {
        height: 2rem;
        color: var(--clr-neutral-800);
      }
    }
  }

  .announcements-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    p + h4 {
      margin-top: 1rem;

      &::before {
        content: "";
        border-top: 1px solid var(--clr-shadow);
        display: block;
        margin-bottom: 1rem;
      }
    }
  }

  .trending-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    .trending-user + .trending-user {
      margin-top: 1rem;
    }

    .trending-user {
      display: grid;
      grid-template-columns: 4rem 1fr;
      align-items: center;
      gap: 1rem;
    }

    h3 {
      line-height: 1em;
    }

    p {
      grid-column: 2/3;

      line-height: 1em;
      color: var(--clr-neutral-800);
    }

    img {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .card {
    background: var(--clr-neutral-100);
    padding: 2.5rem 2rem;
    border-radius: 0.75rem;
    box-shadow: var(--box-shadow);
  }

  .project {
    border-left: 0.75rem solid var(--clr-green);
  }
}
