@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-neutral-900: hsl(240, 17%, 12%);
  --clr-neutral-800: hsl(212, 14%, 19%);
  --clr-neutral-200: hsl(0, 0%, 88%);
  --clr-neutral-100: hsl(96, 71%, 99%);
  --clr-shadow: hsla(280, 9%, 20%, 20%);
  --clr-blue: hsl(201, 85%, 38%);
  --clr-green: hsl(332, 82%, 41%);
  --clr-orange: hsl(29, 89%, 58%);
  --font-primary: "Inter", sans-serif;
  --box-shadow: 0px 0px 8px var(--clr-shadow);
  /* set defaults */
  font-family: var(--font-primary);
  background: var(--clr-neutral-200);
  color: var(--clr-neutral-900);
}

nav,
header,
main {
  padding: 1.5rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2em;
}

p {
  line-height: 1.35em;
}

button {
  border: 0;
}

input {
  border: 0;
}

body {
  display: grid;
  grid-template-columns: minmax(-webkit-max-content, 20rem) minmax(785px, 1fr);
  grid-template-columns: minmax(max-content, 20rem) minmax(785px, 1fr);
  grid-template-rows: 13rem 1fr;
  grid-template-areas: "nav header" "nav main";
  height: 100vh;
}

header {
  grid-area: header;
  display: grid;
  grid-template-areas: "header-top" "header-bottom";
  align-items: center;
  gap: 1rem;
  background: var(--clr-neutral-100);
  box-shadow: var(--box-shadow);
}
header .header-top {
  grid-area: header-top;
  display: grid;
  grid-template-columns: 1fr repeat(3, -webkit-max-content);
  grid-template-columns: 1fr repeat(3, max-content);
  gap: 2.5vw;
  align-items: center;
}
header .header-top .search-container {
  display: grid;
  align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
}
header .header-top svg {
  height: 2rem;
}
header .header-top button {
  background: none;
}
header .header-top .notification-svg {
  margin-left: auto;
}
header .header-top img {
  height: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
header .header-top input[type="text"] {
  width: clamp(16rem, 90%, 55rem);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  background: var(--clr-neutral-200);
}
header .header-top h2 {
  text-align: right;
}
header .header-bottom {
  grid-area: header-bottom;
  display: grid;
  grid-template-columns: 4rem 1fr;
  justify-content: space-between;
}
header .header-bottom .introduction-container {
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  align-items: center;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}
header .header-bottom h3 {
  align-self: end;
}
header .header-bottom h2 {
  align-self: start;
}
header .header-bottom img {
  grid-row: 1/3;
  height: 5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
header .header-bottom .button-container {
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
header .header-bottom .button-container button {
  margin-block: 1rem;
  padding: 0.75rem 1.5rem;
  background: var(--clr-green);
  color: var(--clr-neutral-100);
  border-radius: 100vw;
  font-size: 1rem;
  font-weight: bold;
}

nav {
  grid-area: nav;
  background: var(--clr-blue);
  color: var(--clr-neutral-100);
}
nav .nav-grid {
  display: grid;
  grid-template-columns: 2.25em 1fr;
  grid-template-rows: 6em 1fr;
  gap: 1rem;
  align-items: center;
}
nav h1 {
  font-size: 1.6rem;
  text-transform: uppercase;
}
nav p {
  font-size: 1.25rem;
  font-weight: 700;
}
nav svg {
  height: 1.75rem;
}
nav .settings-svg,
nav .settings-svg + p {
  margin-top: 2.5rem;
}
nav .dashboard-svg {
  justify-self: center;
  height: 3.5rem;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr minmax(32ch, 1fr);
  grid-auto-rows: auto;
  gap: 2rem;
  padding: 2rem;
}
main h2 {
  margin-block: 1rem;
}
main h3,
main h4 {
  margin-bottom: 0.25rem;
}
main .project-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36ch, 1fr));
  gap: 2rem;
}
main .project-section {
  grid-column: 1/2;
  grid-row: 1/3;
}
main .project {
  display: flex;
  flex-direction: column;
}
main .project:hover,
main .project:focus {
  transform: scale(1.05);
  transition: transform 0.15s ease-in-out;
}
main .project .project-icon-container {
  margin-top: auto;
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: end;
}
main .project .project-icon-container svg {
  height: 2rem;
  color: var(--clr-neutral-800);
}
main .announcements-container {
  grid-column: 2/3;
  grid-row: 1/2;
}
main .announcements-container p {
  font-size: 0.875rem;
  line-height: 1.25;
}
main .announcements-container p + h4 {
  margin-top: 1rem;
}
main .announcements-container p + h4::before {
  content: "";
  border-top: 1px solid var(--clr-shadow);
  display: block;
  margin-bottom: 1rem;
}
main .trending-container {
  grid-column: 2/3;
  grid-row: 2/3;
}
main .trending-container .trending-user + .trending-user {
  margin-top: 1rem;
}
main .trending-container .trending-user {
  display: grid;
  grid-template-columns: 4rem 1fr;
  align-items: center;
  gap: 1rem;
}
main .trending-container h3 {
  line-height: 1em;
}
main .trending-container p {
  grid-column: 2/3;
  line-height: 1em;
  color: var(--clr-neutral-800);
}
main .trending-container img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
main .card {
  background: var(--clr-neutral-100);
  padding: 2.5rem 2rem;
  border-radius: 0.75rem;
  box-shadow: var(--box-shadow);
}
main .project {
  border-left: 0.75rem solid var(--clr-orange);
} /*# sourceMappingURL=style.css.map */
